SECRET_KEY=YOUR_DJANGO_SECRET_KEY
DEBUG=True
DB_NAME=coursequest_db
DB_USER=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=localhost
DB_PORT=5432


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=YOUR_GMAIL
EMAIL_HOST_PASSWORD=YOUR_GOOGLE_APP_PASSWORD
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=YOUR_GMAIL

UNITY_PROJECT_ID=your-unity-project-id-here
UNITY_ENVIRONMENT_ID=your-unity-environment-id-here
UNITY_KEY_ID=your-service-account-key-id-here
UNITY_SECRET=your-service-account-secret-here